.reaction_interface_outline {
    border: 1px black solid;
    border-radius: 10px;
    margin: 2rem .5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.reaction_button {
    margin: 0rem 1rem;
    border: none;
    background-color: white;
}