.post-detail__tag-container {
  min-width: 10rem;
}

.post-detail__title {
  /**/
}

.post-detail__category {
  /**/
}

.post-detail__container {
  margin-right: 0rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
}

.post-detail__row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
